{% extends "base.html" %}

    {% block title %} Entrar {% endblock %}

    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'login.css' %}">
        <script type=text/javascript src="{% static 'js/login.js' %}"></script>
    {% endblock %}

    {% block page %}

    <div class="div-login">
        <div class="brand-login">
            <a class="brand-login-name"> ShoppingPy <i class="fa-solid fa-cart-shopping fa-xl"></i></a>
            <p> Controle suas compras na palma de sua mão! </p><br>
        </div>


        {% include "login_tabs.html" %}

    </div>

    {% endblock %}