:root {
    --color_pri: #FF603D;
    --color_sec: #FF603D;
    --color_accent: #E1A356;
    --color_navbar_font_hover: black;

    --modal_back: #000000E6;
    --background: white;
    --background_div: white;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    --fontColor_pri: white;
    --fontColor_sec: black;
    --font: Oswald;

    --menu_size: 90px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1F1C1C;
        --fontColor_pri: #D5E6E6;
        --fontColor_sec: lightgrey;
        --background_div: #333;
  }
}

*{
    font-family: Oswald;
    font-size: 18px;
}

html, body {
    margin: 0px;
    background-color: var(--background);
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("background.jpg");
    background-size: 600px 400px;
    background-repeat: repeat, repeat;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--color_pri);
    z-index: 990;
}

.brand {
    width: calc(var(--menu_size) + 15px);
    height: 40px;
    margin: 2px;
    margin-left: 16px;
    margin-right: 4px;
    padding: 2px;
    padding-left: 4px;
    color: var(--fontColor_pri);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.brand-name {
    margin: 4px;
}

.brand:hover {
    background-color: white;
    color: black;
}

.menu {
    width: auto;
    height: auto;
    margin: 0px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}

.menu a {
    font-size: 16px;
    color: var(--fontColor_pri);
    text-decoration: none;
    text-align: center;
    padding: 8px 0px;
}

.menu-item {
    width: var(--menu_size);
    padding: 8px 0px;
    margin: 2px;
    margin-right: 4px;
    margin-left: 4px;
    color: var(--fontColor_pri);
    text-align: center;
    cursor: pointer;
}

.menu-item:hover ,  .menu-item:hover a{
    background-color: white;
    color: var(--color_navbar_font_hover);
}

.dropdown {
    width: var(--menu_size);
    margin: 0px;
    cursor: pointer;
}

.dropdown-menu {
    width: calc(var(-menu_size) - 4px);
    margin: 2px;
    padding:  8px 0px;
    color: white;
    text-align: center;
}

.dropdown-menu:hover, .dropdown-menu:hover a {
    background-color: white;
    color: var(--color_navbar_font_hover);
}

.dropdown-text {
    width: 100%:
    margin: auto;
    padding: 8px 8px;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    width: var(--menu_size);
    margin-top: -2px;
    background-color: var(--color_pri);
}

.dropdown-content a {
    margin: 2px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
    margin: 2px;
}

.menu-icon {
    display: none;
    width: 24px;
    height: 24px;
    margin: 0px;
    margin-top: 4px;
}

@media screen and (max-width: 720px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu {flex-direction: column;}
    .menu-item  {display: none;}
    .dropdown {display: none;}
    .menu-icon {
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .menu.responsive {
        flex-direction: column;
        overflow: hidden;
        align-items: flex-start;
    }
    .menu.responsive .menu-item {
        display: block;
        text-align: left;
        padding-left: 8px;
    }
    .menu.responsive .dropdown {
        display: block;
    }
    .menu.responsive .dropdown-menu {
        text-align: left;
        padding-left: 8px;
    }
    .menu.responsive .dropdown-content {
        position: relative;
        width: 132px;
    }
    .menu.responsive .dropdown-content a {
        text-align: left;
        padding-left: 32px;
    }
    .menu.responsive .menu-item a {text-align: left;}
}


/* Content */
.title{
    text-align: center;
    font-size: 32px;
    color: var(--color_pri);
    font-family: Inherit;
}

.content {
    width: 100%;
    height: auto;
    min-height: 88vh;
    margin: auto;
    margin-top: 35px;
    overflow: hidden;
    text-align: center;
}

.alert-error {
    width: 100%;
    height: 32px;
    margin: auto;
    padding-top: 8px;
    font-size: 18px;
    text-align: center;
    background-color: red;
    color: white;
}

/*  About */
.about-div {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
    box-shadow: var(--shadow);
}


.about-link {
    color: Inherit;
    text-decoration: none;
}