:root {
    --color_pri: #FF603D;
    --color_sec: #FF603D;
    --background: white;
    --modal_back: #000000E6;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

*{
    font-family: Oswald;
    font-size: 18px;
}

html, body {
    margin: 0px;
    background-color: var(--background);
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("background.jpg");
    background-size: 600px 400px;
    background-repeat: repeat, repeat;
    background-position: center;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    background-color: var(--color_pri);
    display: flex;
    z-index: 990;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 2px;
    margin-top: 2px;
    margin-left: 8px;
    padding:  8px 32px;
    text-decoration: none;
}

.dropdown .dropbtn {
    width: 120px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 12px;
    background-color: var(--color_pri)
    margin: 2px;
    margin-top: 2px;
    font-size: Inherit;
    font-family: Inherit;
}

.dropdown .dropbtn i {
    margin-left: 4px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
    border-radius: 2px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
    margin-top: -4px;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 12px;
    margin: 4px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--color_pri);
    color: white;
    margin: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.brand-logo {
    width: 120px;
    height: 24px;
    margin: 0;
    margin-top: -4px;
    margin-left: auto;
    margin-right: 8px;
    color: white;
}

/* Content */
.title{
    text-align: center;
    font-size: 32px;
    color: var(--color_pri);
    font-family: Inherit;
}

.content {
    width: 100%;
    height: auto;
    min-height: 88vh;
    margin: auto;
    margin-top: 35px;
    overflow: hidden;
    text-align: center;
}

.alert-error {
    width: 100%;
    height: 32px;
    margin: auto;
    padding-top: 8px;
    font-size: 18px;
    text-align: center;
    background-color: red;
    color: white;
}

/*  About */
.about-div {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
    box-shadow: var(--shadow);
}


.about-link {
    color: Inherit;
    text-decoration: none;
}