/* APP */
.div-topbar {
    position: fixed;
    width: 100%;
    height: 52px;
    margin: auto;
    margin-top: 0px;
    padding: 4px;
    background-color: var(--color_pri);
    box-shadow: var(--shadow);
    z-index: 980;
}

.div-align-btns {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 44px;
    margin: auto;
    margin-top: 8px;
}

.topbar-btns {
    width: min(160px, 10vw);
    height: auto;
    padding: 2px;
    margin: 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: min(0.8rem, 4vw);
}

.topbar-btns i {
    padding: 4px;
}

.list-selector {
    width: 132px;
    height: auto;
    margin: 4px;
    padding: 2px;
    border: none;
    border-radius: 2px;
    font-size: min(0.8rem, 4vw);
}

.div-find-item {
    width: 100%;
    height: auto;
    margin: 4px;
    margin-right: 16px;
    padding: 0;
    display: inline-flex;
    position: relative;
}

.find-item {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 4px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.clear-find-item {
    position: absolute;
    width: 24px;
    height: 36px;
    right: 0;
    border: none;
    border-radius: 4px;
}

/* Lists */
.app-div-view-list {
    width: min(1600px, 100%);
    margin: auto;
    margin-top: 56px;
    padding-top: 8px;
    display: flex;
}

.app-container-div-lis {
    width: 100%;
    height: 88vh;
    margin: min(32px, auto);
    margin-top: 4px;
    margin-bottom: 8px;
}

.div-list-title {
    position: relative;
    width: min(200px, 60%);
    height: 32px;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--background);
    border: 1px solid lightgrey;
    border-bottom: none;
    font-size: 1rem;
}

.app-div-list {
    width: 96%;
    height: 83vh;
    margin: auto;
    padding-top: 16px;
    border: 1px solid lightgrey;
    background-color: var(--background);
    overflow-y: auto;
}

.div-list-item {
    width: 90%;
    height: 32px;
    margin: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid var(--color_sec);
    border-radius: 4px;
    cursor: pointer;
}

.list-item-name {
    font-size: 18px;
}

.amount-input {
    width: 40px;
    height: 32px;
    margin: auto;
    margin-top: -2px;
    border: 1px solid lightgrey;
    outline: none;
    text-align: center;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0px;
    top: 0px;
    background-color: var(--modal_back);
    z-index: 999;
}

/* New item */
.div-new-item {
    width: min(480px, 90%);
    height: auto;
    margin: auto;
    margin-top: 8%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    box-shadow: var(--shadow);
    background-color: var(--background);
}

.input-name {
    width: 90%;
    height: auto;
    padding: 4px;
    margin: 8px;
}

.select-type {
    width: 132px;
    height: 32px;
    margin: 4px;
    padding: 2px;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
}

.input-validate {
    width: 90%;
    height: auto;
    margin: 8px;
    padding: 4px;
}

.new-submit {
    width: 20%;
    height: auto;
    padding: 4px;
    margin: 8px;
    margin-left: 40%;
    margin-right: 40%;
    border: none;
    border-radius: 4px;
    background-color: var(--color_pri);
    color: white;
}

/* Properties */
.properties-date-input {
    width: 112px;
    height: 24px;
    text-align: center;
    outline: none;
}

.properties-btns {
    width: 140px;
    height: auto;
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--fontColor_pri);
    background-color: var(--color_pri);
}


@media screen and (max-width: 720px) {
    .app-div-view-list {flex-direction: column;}
    .clear-find-item {display: none}
    .list-selector {
        width: 80px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 960px) {
    .topbar-btns {font-size: 0;}
}